   <div class="search">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="form-section">
                <div class="row">
                    <form role="form">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="sr-only" for="location">Location</label>
                          <input type="email" class="form-control" id="location" placeholder="From Where ?">
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="sr-only" for="checkin">Check in</label>
                          <div class="input-group">
                            <input type="text" class="form-control" id="checkin" placeholder="Check in">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="sr-only" for="checkout">Check out</label>
                          <div class="input-group">
                            <input type="text" class="form-control" id="checkout" placeholder="Check out">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="sr-only" for="guest">Guest</label>
                          <select id="seats" name="seats" class="form-control">
                              <option value="1">1 seats</option>
                              <option value="2">2 seats</option>
                              <option value="3">3 seats</option>
                              <option value="4">4 seats</option>
                              <option value="5">5 seats</option>
                              <option value="6">6 seats</option>
                              <option value="7">7 seats</option>
                              <option value="8">8 seats</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button type="submit" class="btn btn-default btn-primary">Search</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
