<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Welcome to AirCnC</h1>
        <h3>Find your dream car</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Get a car</a>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <br>
            <br>
                <h2>Search from the list of our best cars</h2>
                <%= render "searchbar" %>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


    <!-- /.container -->
</section>
