h3.color{
    color:orange;
    padding-top: 4%;
}

.search {
 margin-top: -25%;
padding-top: 45%;
}
.search .form-section{
 background:rgba(0,0,0,0.6);
 border: 2px solid #414141;
 border-radius: 5px;
 padding: 10px;
}
